/*Inserta tu css aqui*/
header {
	padding: 3%;
	height: 130px;
	background-color: #009688;
}
body {
	background-color: #DFDFDF;
}
section {
    
}
.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.profile-pic {

}
.owner,
.conversation {
	background-color: #EEEEEE;
}
.col-md-4,
.col-md-8 {
	margin: 0;
	padding: 0;
}
.owner {
	padding: 4%;
}
span {
	color: #77767A;
	font-size: 21px;
}
.icon-message {
	float: right;
    margin-right: 15%;
    margin-top: -10%;
}
.owner-dots {
    float: right;
    margin-top: -10%;
}
.conversation {
	padding: 2%;
}
.conversation h4 {
	margin-left: 7%;
    margin-top: -5%;    
    font-size: 18px;
}
.conversation h5 {
	margin-left: 7%;
    margin-top: -1%;
    font-size: 13px;
    margin-bottom: 0.5%;
}
.icon-attachment {
	float: right;
    margin: -5% 12%;
}
.convo-dots {
	float: right;
    margin: -5% 4%;
}
.chat-nuevo {
	position: relative;
	padding: 4%;
    border-bottom: 2px solid #F5F5F5;
}
.chat-nuevo span {
	position:absolute;
	top: 39%;
    left: 8%;
    font-size: 16px;
}
.chat-nuevo,
.contacts {
	background-color: white;
}
.chat-nuevo input {
	padding: 2% 37% 2% 15%;
    border-radius: 5px;
    border-style: none;
    border: 2px solid #F5F5F5;
}
.contacts {
	padding: 2%;
	border-bottom: 2px solid #F5F5F5;
}
.contacts h4 {
	font-size: 15px;
    margin-left: 13%;
    margin-top: -10%;
    color: black;
}
.contacts h5 {
	font-size: 12px;
	color: gray;
    margin-left: 13%;
    margin-top: -1%;
    margin-bottom: 1%;
}
.convo-section {
	padding: 1% 2% 0% 0%;
	background-color: #EDEAE5;
	background-image: url("../image/chat-panel-bg.png");
}
.bubble {
	border-radius: 6px;
	margin-bottom: -2.5%;
	background-color: white;
    padding: 0.3px 1% 0% 6%;
}
.bubble h5 {
	margin-bottom: -2.5%;
}
.bubble h5 span {
	font-size: 14px;
}
.bubble h6 {
	text-align: right;
}
.mybubble {
	text-align: right;
    background-color: #DCF7C5;
    width: 28%;
    margin-left: 72%;
    border-radius: 6px;
    padding: 0.1% 1% 0%;
    margin-bottom: -1%;
}
.typing-section {
	padding: 0.7%;
    border: 1px solid #F1F0EE;
    width: 103%;
    background-color: #F1F0EE;
}
.typing-section span {
	color: #A9A9AA;
    font-size: 23px;
    margin: 1%;
}
.typing-section input {
	width: 88%;
    padding: 1%;
    border-radius: 4px;
    border-style: none;
}
.celeste {
    color: #5AB1D6;
}
.morado {
	color: #9E155F;
}
.verde {
	color: #45B48A;
}
.amarillo {
	color: #C79B18;
}
